@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: Arial, sans-serif;
  backdrop-filter: blur(5px); 
}

#margin-container {
  margin-top: 3px;
  height: calc(80vh - 3px); 
}

.alert-html {
  background-color: #f0f0f000;
}

.config-html {
  background-color: #f0f0f000;
}

.config-html .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.config-html .card {
  width: 100%;
  max-width: 800px;
  padding: 5px;
  background-color: #f0f0f000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.356);
}

.config-html .card-title {
  font-size: 24px;
  text-align: center;
}

.config-html .file-input {
  margin-top: 16px;
  width: calc(80% - 16px);
}

.config-html .text-xs {
  font-size: 12px;
}

.config-html .text-right {
  text-align: right;
}

.join-item {
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem; 
  max-width: 6rem; 
}
.card {
  width: 100vw; 
  max-width: 100%;
  background-color: var(--bg-base-100);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 

}
/*Addons Container*/
#addons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px;
  background-color: #7ac2c200;
  border-radius: 10px; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
  margin: 0 auto; 
  min-width: 300px;
  --scrollbar-thumb-active: rgb(16 185 129 / 0.5) !important;
  --scrollbar-thumb-hover: #059668e1 !important;
}

#DropD1 {
  padding: -20px; 
  background-color: #7ac2c200;
  margin-bottom: 0px; 
  border-radius: 20px;
}

.addon {
  padding: 0px; 
  background-color: #7ac2c200;
  margin-bottom: 0px; 
  border-radius: 20px;
}

.addon h2 {
  font-size: 16px; 
}

.addon p {
  font-size: 14px; 
  margin-bottom: 5px;
}

.addon button {
  font-size: 12px; 
  padding: 5px 10px; 
}



.progress-message {
  margin-top: 5px;
  text-align: center;
  font-size: 0.75rem;
}

button {
  margin-right: 5px;
}
/*Control windows buttons*/
#window-controls {
  position: relative;
  top: 3px; 
  right: 6px; 
  display: flex;
  height: 20px; 
  background-color: transparent; 
  justify-content: flex-end;
  z-index: 1001;
}

#window-controls div {
  width: 16px; 
  height: 16px; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; 
  margin-left: 5px; 
  font-size: 16px; 
  color: white; 
  transition: background-color 0.3s ease;
}

#minimize-button {
  background-color: #737b82;
}

#maximize-button {
  background-color: #43b581;
}

#close-button {
  background-color: #f04747;
}
/*Draggable zone*/
.draggable {
  -webkit-app-region: drag;
}
#minimize-button {
  -webkit-app-region: no-drag;
}
#maximize-button {
  -webkit-app-region: no-drag;
}
#close-button {
  -webkit-app-region: no-drag;
}
/*Glass addons-container*/
.glass {
  border-radius: 10px; 
  padding: 10px; 
  background-color: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(5px); 
}

.progress {
  width: 100%; /* Ajusta el ancho según sea necesario */
  height: 8px; /* Ajusta la altura del progreso */
  margin-top: 5px; /* Espacio entre el progreso y el contenido */
}

/* Estilos adicionales para la barra de progreso */
.progress[value]::-webkit-progress-bar {
  background-color: #ccc; /* Color de fondo de la barra de progreso */
  border-radius: 5px; /* Borde redondeado */
}

.progress[value]::-webkit-progress-value {
  background-color: #2ecc71; /* Color de la barra de progreso */
  border-radius: 5px; /* Borde redondeado */
}

.progress[value]::-moz-progress-bar {
  background-color: #2ecc71; /* Color de la barra de progreso en Firefox */
  border-radius: 5px; /* Borde redondeado */
}

.developed-by {
  font-size: 0.75rem; /* text-xs in Tailwind */
  text-align: right;
  padding-right: 1rem; /* pr-4 in Tailwind */
  padding-bottom: 1rem; /* pb-4 in Tailwind */
}